
*{
	list-style-type:none;
	margin:0;
	padding:0;
	font-family: "TBちび丸ゴシックPlusK R";
}

a{
	text-decoration: none;
	color: #000;
}

p{
	font-size: 1.125em;
	line-height: 1.3;
}

h3{
	font-size: 2.500em;
	margin-bottom: 20px;
    font-family: 'Damion', 'cursive';
}

hr{
	border-top: 1px dashed #CF811C;
	border-bottom: 1px dashed #FBAE4B;
}

body{
	width: 100%;
	background-color: #EA992F;
	height: 100%;
}

#container{
	width: 100%;
	background-color: #EA992F;
	height: 100%;
	position: relative;
}

#slide-top{
	width: 100%;
	height: 100vh;
	position:relative;
	
}

.top-logo{
	width: 40vw;
	height: auto;
	position: absolute;
	top:0px;
	right:0px;
 	bottom:0px;
	left:0px;
	margin:auto;
}

.down-btn{ 
	width: 10vw;
	height: auto;
	position: absolute;
	top:0px;
	right:0px;
 	bottom:0px;
	left:0px;
	margin:70vh auto auto auto;
	-webkit-animation-name: hvr-hang-sink, hvr-hang;
	animation-name: hvr-hang-sink, hvr-hang;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}


/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}



#slide-profile{
	width:100%;
	height:100vh;
	position: relative;
	overflow: hidden;
}

#profile-card{
	height: 100vh;
	position: absolute;
}

#profile-card li{
	height: 100vh;
	float:left;
	padding-top:140px;
	text-align: center;
	vertical-align: middle;
}

.skill{
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-left:#775530 dashed 1px;
	float: left;
	padding-right:20%;
	position: relative;
}

.dreamweaver{
	border-right:#775530 dashed 1px;
	margin-right: 0px;
}

.skill svg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#profile-card li img{
	float: left;
	width: 20%;
	height: auto;
    margin: 10px 30px;
}

.profile-content{
	width: 80%;
	margin: 0 auto;
}

#slide-works{
	width: 100%;
	height: 100vh;
	position:relative;
	overflow: hidden;
	clear: both;
}

#works-card{
	height: 100%;
	position: absolute;
}

#works-card li{
	height: 100vh;
	float:left;
}

.works-content{
	width: 65%;
	margin: 80px auto 0 auto;
}

.works-content img{
	float: left;
	width: 350px;
	height: auto;
}

.text-wrapp{
    width: 45%;
    float: right;
}

.view-btn a{
	display: inline-block;
	text-align: center;
	line-height: 25px;
	letter-spacing: 5px;
	width: 300px;
	height: 25px;
	font-size: 1.313em;
	border: 2px solid #000;
	border-radius: 2px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	margin: 30px 0;
}

.view-btn a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.view-btn a:hover, .view-btn a:focus, .view-btn a:active {
  color: #EA992F;
}
.view-btn a:hover:before, .view-btn a:focus:before, .view-btn a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




.prev{
	position: absolute;
	top:0px;
	right:0px;
 	bottom:0px;
	left:0px;
	margin:auto auto auto 30px;
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.next{
	position: absolute;
	top:0px;
	right:0px;
 	bottom:0px;
	left:0px;
	margin:auto 30px auto auto;
	width: 30px;
	height: 30px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#paging{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom:10px;
	z-index: 999;
}

#paging li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 15px;
	margin:0 5px;
	background:url(images/pager02.png);
	background-size: cover;
}

#paging li.active {
	background: url(images/pager01.png);
	background-size: cover;
}

footer{
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0;
	vertical-align: text-top;
}

.menu{
	margin:10px 20px 0 0;
	float: right;
}

.menu li{
	font-size: 1.875em;
	float: left;
	margin-left: 40px;
}

.menu a{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	
}

.menu a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #000;
  height: 4px;
  border-radius: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu a:hover:before, .menu a:focus:before, .menu a:active:before {
  left: 0;
  right: 0;
}

small{
	float: left;
	line-height: 10vh;
}

@media screen and (max-width: 1200px) {
	.top-logo{
	width: 50vw;
	height: auto;
	position: absolute;
	top:0px;
	right:0px;
 	bottom:0px;
	left:0px;
	margin:auto;
	}

	#profile-card li{
	height: 100vh;
	float:left;
	padding-top:100px;
	}
    
    .skill{
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border-top:#775530 dashed 1px;
	float: left;
	padding-right:20%;
	position: relative;
    }


	#profile-card li img{
	float: none;
	width: 300px;
	height: auto;
	margin: 0 auto;
	}

	.profile-content{
	width: 80%;
	float: none;
	margin: 0 auto;
	}

	#works-card li{
	height: 500px;
	float:left;
	padding-top:35px;
	text-align: center;
	}

	#works-card li img{
	float: none;
	width: 70%;
	max-width: 450px;
	height: auto;
	margin: 0 auto;
	}

	.works-content{
	width: 50%;
	float: none;
	margin: 0 auto;
	}

	.view-btn a{
	width: 250px;
	margin: 30px auto;
}

	.next{
	top:60px;
	}


}
	


@media screen and (max-width: 639px) {
	h3{
	font-size: 2em;
	margin-bottom: 20px;
	}

    .skill{
    float: none;
	width: 50px;
	height: 50px;
	border-top:#775530 dashed 1px;
    border-left:none;
    }
    
	#works-card li{
	padding-top:100px;
	text-align: center;
	}
	
	#works-card li img{
	width: 75%;
	}

}


